*{ margin: 0; padding: 0; box-sizing: border-box; border: none; font-family: 'Poppins', sans-serif; }
#root{ display: flex; justify-content: center; background-color: #f4f4f4; min-height: 100vh; padding: 20px; }
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #ddd; }
::-webkit-scrollbar-thumb { background: #222; }
h2, h3{ font-weight: 500; color: #222; }
h2{ background-color: #222; margin-bottom: 60px; color: #fff; box-shadow: 0 0 0 20px #222; text-align: center; font-size: 40px;}
.btn{ padding: 10px 30px; font-size: 15px; background-color: #222; color: #fff; cursor: pointer; width: 25%; }
section{ width: 100vw; }
.list_header{ display: flex; align-items: center; }
.list_header h3{ width: 25%; padding-left: 25px; }
.list_header h3:first-child{ width: 73%; }
.main, .variants > div{ display: flex; gap: 5px; align-items: center; }
.discount_section{ display: flex;  align-items: center; width: 25%; }
.discount_section :is(input, select){ width: 50%; padding: 10px; font-size: 15px; background-color: #fff; color: #222; border: 1px solid #ddd; outline: none; }
.product_input{ display: flex; align-items: center; justify-content: space-between; width: 75%; padding: 10px; font-size: 15px; background-color: #fff; color: #222; border: 1px solid #ddd; outline: none; }
.variant_section{ padding-left: 40px; display: flex; flex-direction: column; gap: 8px; align-items: flex-end; }
.variant_section > span{ cursor: pointer; font-size: 14px; font-weight: 600; text-decoration: underline; user-select: none; }
.variants{ width: 100%; }
.remove_item, .drag_icon, .edit_icon, .close_modal{ font-size: 20px; cursor: pointer; }
.item{ padding-bottom: 20px; border-bottom: 1px solid #aaa; margin-bottom: 20px; }
.no_items{ padding: 40px 20px; border-radius: 5px; background-color: #fff; color: #222; margin: 10px 0 30px 0; }
center{ display: grid; place-items: center; height: 100%; }

.modal{ position: fixed; top: 50%; left: 50%; translate: -50% -50%; background-color: #fff; width: 70vw; height: 80vh; padding: 20px; display: flex; flex-direction: column; box-shadow: 0 0 0 1000px #00000080; }
.modal .header{ display: flex; align-items: center; justify-content: space-between; }
.modal .search{ display: flex; align-items: center; justify-content: space-between; width: 100%; padding: 10px; font-size: 15px; background-color: #fff; color: #222; border: 1px solid #ddd; outline: none; margin-top: 10px; }
.modal .select_products{ overflow-y: auto; height: 100%; padding-right: 15px; }
.product_item{ margin-top: 20px; }
.product_item img{ width: 30px; height: 30px; }
.product_item .info{ display: flex; align-items: center; gap: 5px; }
.product_item .info label{ display: flex; align-items: center; gap: 5px; }
.product_subItems{ padding-left: 40px; }
.product_subItems div{ display: flex; align-items: center; gap: 5px; }
.product_subItems div > p{ width: 80%; }
.product_subItems div label{ display: flex; align-items: center; justify-content: space-between; width: 100%; }
.product_subItems div label div{ display: flex; align-items: center; justify-content: space-between; }
.product_subItems div label p{ width: 140px; text-align: right; }
.product_subItems div .name{ width: 72%; text-align: left; }
.modal .footer{ display: flex; align-items: center; justify-content: space-between; padding-top: 20px; border-top: 1px solid #ddd; margin-top: auto; }
.modal .footer .btn{ width: max-content; margin-left: 5px; }